.header {
  margin: 0 0 var(--vertical-gap);
  padding: var(--vertical-gap) 0;
}

.header > a,
.header > a:visited {
  color: var(--text-color);
  text-decoration: none;
}

.header > a:hover {
  color: var(--link-accent-color);
}

@media (min-width: 640px) {
  .header {
    width: 50%;
    height: var(--header-height);
  }

  .logo {
    margin: -5px 0 0 -5px;
  }

  .nav {
    --offset-top: calc(var(--logo-image-size) / -2);
    --offset-left: calc(var(--logo-image-size) + 5px);

    position: relative;
    margin: var(--offset-top) 0 0 var(--offset-left);
    line-height: 1;
  }
}
