.container {
  margin: 0;
}

.container iframe {
  width: 100%;
  max-width: var(--max-media-width);
  height: 60vw;
  max-height: 450px;
  border-radius: var(--corner-radius);
  box-shadow: 0 1px 3px var(--adornment-element-color);
}

.container figcaption {
  font-style: italic;
}
