{
  "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": null,
    "declaration-empty-line-before": null,
    "custom-property-empty-line-before": null,
    "color-hex-length": null,
    "media-feature-range-notation": "prefix"
  }
}
