{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "custom-property-empty-line-before": null
  }
}
