.showcase {
  padding: var(--vertical-gap) 0 0 0;
}

.showcase h1:first-child {
  margin-top: 0;
}

.showcase ul {
  --columns-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  gap: var(--vertical-gap) var(--gap);
}

@media (min-width: 640px) {
  .showcase ul {
    --columns-count: 2;
  }
}

@media (min-width: 860px) {
  .showcase ul {
    --columns-count: 3;
  }
}

@media (min-width: 1000px) {
  .showcase ul {
    --columns-count: 4;
  }
}
