.section {
  --columns-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  margin-top: calc(-1 * var(--vertical-gap));
  column-gap: var(--gap);
}

@media (min-width: 640px) {
  .section {
    --columns-count: 2;
  }
}
