*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  min-width: var(--min-width);
  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--font-sans-serif);
  line-height: var(--base-line-height);
  background: var(--background-color);
}

body {
  margin: 0;
}

h1 {
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
}

h2 {
  font-size: var(--subheader-font-size);
  line-height: var(--subheader-line-height);
}

h3 {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

blockquote {
  position: relative;
  display: block;
  padding-left: 1.5rem;
}

blockquote::before {
  position: absolute;
  top: 0;
  left: 0.1rem;
  color: var(--adornment-element-color);
  font-size: 2em;
  line-height: 0.6;
  content: "«";
}

a,
a:visited {
  color: var(--link-color);
  text-decoration-color: var(--decoration-link-color);
}

a.text-color {
  color: var(--text-color);
  text-decoration-color: var(--decoration-text-color);
}

a:hover {
  color: var(--link-accent-color);
  text-decoration-color: var(--decoration-accent-color);
}

.wrap {
  min-height: 100vh;
  min-height: calc(100vh - var(--footer-height));
}
