:root {
  --vertical-gap: 1.5rem;
  --vertical-gap-small: 0.5rem;
  --vertical-gap-large: 2.5rem;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  margin-top: var(--vertical-gap-large);
  margin-bottom: var(--vertical-gap-small);
}

p,
mark,
blockquote {
  margin: var(--vertical-gap) 0;
}

ol,
ul {
  margin: calc(-1 * var(--vertical-gap)) 0 0;
  padding: 0;
  list-style-position: inside;
}

h1 + p,
h2 + p,
h3 + p,
h3 + ol,
h3 + ul,
p:first-child {
  margin-top: 0;
}
