.list {
  --columns-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  gap: var(--vertical-gap) var(--gap);
}

@media (min-width: 640px) {
  .list {
    --columns-count: 2;
  }
}

@media (min-width: 860px) {
  .list {
    --columns-count: 3;
  }
}

@media (min-width: 1000px) {
  .list {
    --columns-count: 4;
  }
}
