.post {
  max-width: var(--max-content-width);
  padding-top: var(--vertical-gap);
  padding-bottom: var(--vertical-gap-large);
}

.post h1 {
  margin-top: 0;
}

.post main {
  margin-bottom: var(--vertical-gap);
}
