.post {
  max-width: var(--max-content-width);
  padding-bottom: var(--vertical-gap-large);
}

.post h1 {
  margin-top: 0;
}

.post main {
  margin-bottom: var(--vertical-gap);
}

.post img {
  box-shadow: 0 1px 3px var(--adornment-element-color);
}
