.picture {
  max-width: var(--max-image-width);
  margin: 0;
}

.limited {
  max-width: calc(var(--max-image-width) / 2);
}

.picture picture {
  display: block;
  line-height: 0;
}

.picture img {
  max-width: 100%;
}

.picture figcaption {
  margin: 0;
  padding: 0.5em 0 0;
  font-style: italic;
}

.picture > a[href] {
  position: relative;
  display: block;
  transition: transform var(--transition-duration);
  will-change: transform;
}

.picture > a[href]:hover {
  --translate: calc(-1 * var(--accent-translate));
  transform: translateY(var(--translate)) scale(var(--accent-scale));
}
