.container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.container table {
  min-width: 500px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

.container td,
.container th {
  padding: 0.3em 1em;
  border: 1px solid var(--grey);
  border-collapse: collapse;
}

.container th {
  font-weight: normal;
  font-style: italic;
}
