ErrorDocument 404 /404/index.html

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /
RewriteRule rss$ rss.xml [L,R=301]
RewriteRule rss/$ rss.xml [L,R=301]

Redirect 301 /editorial /tag/favorite

<FilesMatch ".(jpg|jpeg|png|ico|svg|webp|js|css|pdf)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>

<FilesMatch "service-worker.js$">
  FileETag None
  Header unset ETag
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

AddType image/svg+xml .svg
AddOutputFilterByType DEFLATE image/svg+xml
