.logo {
  display: inline-flex;
  align-items: flex-start;
  line-height: 1;
}

.label {
  display: block;
  order: 1;
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  line-height: inherit;
}

.photo {
  display: none;
}

.photo img {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

@media (min-width: 640px) {
  .photo {
    display: block;
    width: var(--logo-image-size);
    height: var(--logo-image-size);
    overflow: hidden;
    border-radius: 50%;
  }

  .label {
    margin-top: 10px;
    margin-left: 10px;
  }
}
