.highlight {
  padding-left: 1.5rem;
  color: var(--text-color);
  font-size: var(--subheader-font-size);
  font-style: italic;
  line-height: var(--subheader-line-height);
  background: none;
  border: 0;
}
