.contacts,
.contacts li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts li:not(:last-child)::after {
  margin: 0 0.5em;
  content: "·";
}
