/** Based on Stackoverflow Light and Dark themes. */

.hljs {
  --comment: #656e77;
  --keyword: #015692;
  --attribute: #803378;

  --number: #b75501;
  --string: #54790d;
  --bullet: #535a60;

  --deletion: #c02d2e;
  --addition: #2f6f44;
}

@media (prefers-color-scheme: dark) {
  .hljs {
    --comment: #999999;
    --keyword: #88aece;
    --attribute: #c59bc1;

    --number: #f08d49;
    --string: #b5bd68;
    --bullet: #cccccc;

    --deletion: #de7176;
    --addition: #76c490;
  }
}

.hljs-comment {
  color: var(--comment);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-section,
.hljs-selector-class,
.hljs-meta,
.hljs-selector-pseudo,
.hljs-attr {
  color: var(--keyword);
}

.hljs-attribute {
  color: var(--attribute);
}

.hljs-name,
.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-quote,
.hljs-template-tag,
.hljs-built_in,
.hljs-title,
.hljs-literal {
  color: var(--number);
}

.hljs-string,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-meta-string {
  color: var(--string);
}

.hljs-bullet,
.hljs-code {
  color: var(--bullet);
}

.hljs-deletion {
  color: var(--deletion);
}

.hljs-addition {
  color: var(--addition);
}
