:root {
  --min-width: 320px;
  --max-width: 1400px;

  --header-height: 110px;
  --footer-height: 80px;
  --logo-image-size: 60px;

  --max-content-width: 900px;
  --max-media-width: 900px;

  --corner-radius: 5px;
}
