.header {
  --row-height: calc(var(--author-photo-size) / 2);

  display: grid;
  grid-template-rows: repeat(2, var(--row-height));
  grid-template-columns: var(--author-photo-size) 1fr 30px;

  padding: var(--vertical-gap) 0;
  column-gap: 15px;
}

.photo {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.nav {
  z-index: 1;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.language {
  grid-row: 1;
  grid-column: 3;
}

.photo > a,
.photo > a:visited {
  color: var(--text-color);
  text-decoration: none;
}

.photo > a:hover {
  color: var(--link-accent-color);
}

@media (min-width: 640px) {
  .nav {
    grid-column: 2;
  }
}
