.logo {
  display: flex;
  align-items: flex-start;
}

.label {
  order: 1;
  margin: 10px 0 0 10px;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  line-height: 1;
}

.photo {
  width: var(--logo-image-size);
  height: var(--logo-image-size);
  overflow: hidden;
  border-radius: 50%;
}

.photo img {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}
