.feedback {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.feedback ul {
  list-style: none;
}

.feedback li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: var(--vertical-gap-small);
}
