.aside {
  position: relative;
  padding-left: 1.5rem;
}

.aside::before {
  position: absolute;
  top: 0;
  left: 0.05rem;
  color: var(--adornment-element-color);
  font-size: 3em;
  line-height: 0.95;
  content: "*";
}
