.trip h2,
.trip p {
  margin: 0;
}

.cover {
  --polaroid-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  --polaroid-frame-width: 5px;
  --polaroid-frame-color: var(--white);

  position: relative;
  margin-bottom: var(--vertical-gap-small);
  padding-top: 66.66%;
}

.cover::before,
.cover::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--polaroid-frame-color);
  box-shadow: var(--polaroid-shadow);
  content: "";
}

.cover::before {
  transform: rotateZ(1.1deg);
  opacity: 0.9;
}

.cover::after {
  transform: rotateZ(-1.3deg);
  opacity: 0.95;
}

.cover img {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: var(--polaroid-frame-width) solid;
  border-color: var(--polaroid-frame-color);
  box-shadow: var(--polaroid-shadow);
}

@media (prefers-color-scheme: dark) {
  .cover {
    --shadow-color: rgba(0, 0, 0, 0.3);
    --polaroid-frame-color: var(--light);
  }
}
