.adjacent {
  margin: 0;
  padding: 0;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.adjacent > * {
  margin: 0 calc(var(--gap) / 2);
}

.adjacent > *:first-child {
  margin-left: 0;
}

.adjacent > *:last-child {
  margin-right: 0;
}
