.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: calc(-1 * var(--vertical-gap));
  column-gap: var(--gap);
}

@media (max-width: 1000px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .section {
    grid-template-columns: 1fr;
  }
}
