.preview {
  --with-optical-compensation: calc(var(--vertical-gap) / 2);
  --image-vertical-gap: var(--with-optical-compensation);
  --image-height: 125%;

  position: relative;
}

.preview picture {
  margin-bottom: var(--image-vertical-gap);
  padding-top: var(--image-height);
}

.preview picture img {
  max-height: initial;
  margin-top: calc(-1 * var(--image-height));
}

.preview p {
  margin: 0;
}

.preview h2 {
  margin-top: 0;
}

.preview a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
