.preview {
  position: relative;
}

.preview img {
  --with-optical-compensation: calc(var(--vertical-gap) / 2);
  margin-bottom: var(--with-optical-compensation);
}

.preview p {
  margin: 0;
}

.preview h2 {
  margin-top: 0;
}

.preview a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
